.idea/
450venv/
venv/
ssbm/
__pycache__/
*.vscode
*.pyc
*.pyo
scratch.txt
migrations/README
.vscode/
.DS_Store
app/.DS_Store
app/static/.DS_Store
/migrations/
/450venv_lptp/
/450venv_test/
CMD_win.txt
tracer.txt

/notes/
