.active {
    color: red;
}

.hidden {
    display: none;
}

#league_page_body_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    flex-flow: row wrap;
    margin-top: 2em;
}

#league_page_heading {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5%;
}

.teamCard {
    height: 30rem;
    width: 18rem;
}

.cardRow {
    padding: 1em 0 1em 0;
}