{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!
        <br> coach status: {{ current_user.is_coach }}
        <br> admin status: {{ current_user.is_admin }}</h1>
    <p>see list of all permission requests. any admin can approve or deny them</p>
    {% for prs in prs %}
    <div>
        <p>user: <b>{{ prs.user }}</b> request ID: {{ prs.id }}, coach: {{ prs.coach_request }}, admin: {{ prs.admin_request }}</p></div>
    {% endfor %}

<br>
<br>
    <p>see list of all registered users</p>
    {% for users in users %}
    <div><p>user: <b>{{ users.username }}</b> UID: {{ users.id }}, coach: {{ users.is_coach }}, admin: {{ users.is_admin }}</p></div>
    {% endfor %}
    <p>manually adjust permissions</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.prID() }} {{ form.prID.label }}</p>
        <p>{{ form.pr_actions() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>{{ tval }}</p>

{% endblock %}