{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!
        <br> coach status: {{ current_user.is_coach }}
        <br> admin status: {{ current_user.is_admin }}</h1>
    <p>see list of all registered users</p>
    {% for users in users %}
    <div><p>user: <b>{{ users.username }}</b> UID: {{ users.id }}, coach: {{ users.is_coach }}, admin: {{ users.is_admin }}</p></div>
    {% endfor %}
    <p>make permissions changes</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.userID() }} {{ form.userID.label }}</p>
        <p>{{ form.actions() }} {{ form.actions.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>{{ tval }}</p>

{% endblock %}