<nav class="mx-5">
    <img src="{{ url_for('static', filename='images/SSBM_Logo_01.gif') }}" class="mt-4"> 
    <ul class="nav justify-content-end">
        <li class="nav-item">
            {# TODO: Fix current page thing to actually be dynamic. #}
            <a class="nav-link" id="home_link" href="{{ url_for("index") }}">Home</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link" id="login_link" href="{{ url_for("login") }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" id="request_permission_link" href="{{ url_for("request_permission")}}">Request Permission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="create_tournament_link" href="{{ url_for("tournament_creation")}}">Create Tournament</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tournament_dashboard_link" href="{{ url_for("TournamentDashboard")}}">Tournament Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="league_view_link" href="{{ url_for("league")}}">View League Info</a>
        </li>
        {# TODO: Modify this later to also check to see if they already have a team? #}
        {% if current_user.is_admin or current_user.is_coach %}
        <li class="nav-item">
            <a class="nav-link" id="team_creation_link" href="{{ url_for("create_team")}}">Create a New Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="manual_permissions" href="{{ url_for("manual_permissions")}}">Approve Permissions</a>
        </li>

        {% endif %}
        <li class="nav-item">
            <a class="nav-link" id="logout_link" href="{{ url_for("logout")}}">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>
