{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!
        <br> coach status: {{ current_user.is_coach }}
        <br> admin status: {{ current_user.is_admin }}</h1>
    <p>see list of your permission requests</p>
    {% for prs in prs %}
    <div><p>user: <b>{{ prs.username }}</b> request ID: {{ prs.id }}, {{ prs.label }}</p></div>
    {% endfor %}
    <p>request a permissions change</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.request_coach() }}</p>
        <p>{{ form.request_admin() }}</p>
    </form>
    <p>{{ tval }}</p>

{% endblock %}
