{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <h2 class="my-3">Register a new team:</h2>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="my-4">
                {{ form.team_name.label }} {{ form.team_name(size=64) }}
                {% for error in form.team_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                {{ form.user_is_coach.label }} {{ form.user_is_coach }}
            </div>
            <div class="my-4 hidden" id="coach_dropdown">
                <label for="coach-select">Select a coach:</label>
                <select name="coaches" id="coach-select">
                    {% for coach in coaches %}
                        {% if coach.id != current_user.id %}
                            <option value="{{coach.full_name}}">{{ coach.full_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="my-4">
                <p>This will be the league select dropdown</p>
            </div>
            {# TODO: make this button not ugly. #}
            <div>{{ form.submit() }}</div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/create_team.js')}}"></script>
    <script>
        document.querySelector("#team_creation_link").classList.toggle("active");
    </script>
{% endblock %}