{% extends "base.html" %}

{% block content %}
<h1>Team Settings</h1>
<form action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.teamname.label }}<br>
        {{ form.teamname(size=32)}}<br>
        {% for error in form.teamname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.coach.label }}<br>
        {{ form.coach(size=32)}}<br>
        {% for error in form.coach.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.league.label }}<br>
        {{ form.league }}<br>
        {% for error in form.league.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit2() }}</p>
</form>
{% endblock %}