{% extends "base.html" %}

{% block content %}
    <h1>{{ team.team_name }}</h1>
    
    Upcoming Tournaments <br><br>
    {% for tournament in upcoming_tournaments %}
    <a href="{{ url_for('tournament_page', tournament=tournament.tournament_name) }}">{{tournament.tournament_name }}</a></b></p></div>
        <br><br>
        {% endfor %}
    
    Previous Tournaments <br><br>
    {% for tournament in previous_tournaments %}
    <a href="{{ url_for('tournament_page', tournament=tournament.tournament_name) }}">{{tournament.tournament_name }}</a></b></p></div>
        <br><br>
        {% endfor %}
{% endblock %}