{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <h2 class="my-3">Register a new team:</h2>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="my-4">
                {{ form.team_name.label }} {{ form.team_name(size=64) }}
                {% for error in form.team_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                {{ form.user_is_coach.label }} {{ form.user_is_coach }}
            </div>
            {# TODO: only show this if the above checkbox is unticked. #}
            <div class="my-4">
                <label for="coach-select">Select a coach:</label>
                <select name="coaches" id="coach-select">
                    {# TODO: Change me eventually. You'll want this to be "for coach in coaches" once
                     there is a coaches table. for now, we're just going through the users
                     and seeing who has the boolean "_is_coach" set to true. #}
                    {% for coach in coaches %}
                        # TODO: Composite attribute?
                        <option value="{{coach.full_name}}">{{ coach.full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="my-4">
                <p>This will be the league select dropdown</p>
            </div>
            {# TODO: make this not ugly once it works. #}
            <div>{{ form.submit() }}</div>
        </form>
    </div>
    <script>
        document.querySelector("#team_creation_link").classList.toggle("active");
    </script>
{% endblock %}