{% extends "base.html" %}

{% block content %}
<h1>Hello, Welcome to SSBM {{ current_user.username }}!</h1>
{% for tournament in tournaments%}
<div>
    <p>Tournament Name: <a
            href="{{ url_for('TournamentPage', tournament=tournament.tournamentName) }}">{{tournament.tournamentName
            }}</a></b></p>
</div>
<div>
    <p>Tournament Location: {{tournament.tournamentLocation }}</b></p>
</div>
{% for league in leagues%}
{% if league.id == tournament.tournamentLeague %}
<div>
    <p>Tournament League: {{league.leagueName}}</b></p>
</div>

{% endif %}
</b>
{% endfor %}
<div>
    <p>Tournament Date: {{tournament.tournamentDate }}</b></p>
</div>
{% endfor %}



{% endblock %}