{% extends "base.html" %}

{% block content %}
    <h1>Tournament Creation</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.tournamentName.label }}<br>
            {{ form.tournamentName(size=64) }}<br>
            {% for error in form.tournamentName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tournamentLocation.label }}<br>
            {{ form.tournamentLocation(size=64) }}<br>
            {% for error in form.tournamentLocation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tournamentDate.label }}<br>
            {{ form.tournamentDate(size=32) }}<br>
            {% for error in form.tournamentDate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tournamentPicture.label }}<br>
            {{ form.tournamentPicture }}<br>
            {% for error in form.tournamentPicture.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}