{% extends "base.html" %}

{% block content %}
<h1>Tournament Profile Page</h1>
<div>
    <p>Tournament Name: {{tournament.tournament_name }}</a></b></p>
</div>
<div>
    <p>Tournament Date: {{tournament.tournament_date }}</b></p>
</div>
<div>
    <p>Tournament Location: {{tournament.tournament_city }} , {{tournament.tournament_state }}</b></p>
</div>
<div>
    <p>Tournament League: {{league.league_name }}</b></p>
</div>

<div>
    <h2>Leaderboard</h2>
    <table id="leaderboard">
        <thead>
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for team in tournament.tournament_teams %}
                <tr>
                    <td>{{ team.id }}</td> <!-- this is temporary; may need javascript to calculate -->
                    <td>{{ team.team_name }}</td>
                    <!-- <td>{{ team.wins }}</td> -->
                    <!-- <td>{{ team.losses }}</td> -->
                    <!-- <td>{{ team.points }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <p>Registered Teams: <br> <br>
        {% for team_id in tournament.tournament_teams %}
        {{team_id}} <br> <br>
        {% endfor %}
        </b></p>
</div>

<form method="POST">
    <input type="submit" name="edit_button" value="Edit Tournament">
</form>
<form method="POST" onsubmit="return confirm('Are you sure you wish to delete?');">
    <input type="submit" name="delete_button" value="Delete Tournament">
</form>
<form method="POST" onsubmit="return confirm('Are you sure you want to register for {{tournament.tournament_name }}');">
    <input type="submit" name="register_button" value="Register">
</form>

{% endblock %}