
{% extends "base.html" %}

{% block content %}
    <h1>Hello, Welcome to SSBM {{ current_user.username }}!</h1>
    <h3>Search by date:</h3>
    <form action="" method="post" novalidate>
        <p>
            {{ form.start_date.label }} {{ form.start_date(size=32) }}<br>
            {% for error in form.start_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_date.label }} {{ form.end_date(size=32) }}<br>
            {% for error in form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for tournament in tournaments %}
    <div><p>Tournament Name: <a href="{{ url_for('TournamentPage', tournament=tournament.tournamentName) }}">{{tournament.tournamentName }}</a></b></p></div>
    <div><p>Tournament Date: {{tournament.tournamentDate }}</b></p></div>
    <div><p>Tournament Location: {{tournament.tournamentLocation }}</b></p></div>
    {% for league in leagues%}
        {% if league.id == tournament.tournamentLeague %}
            <div><p>Tournament League: {{league.league_name}}</b></p></div>

        {% endif %}
    </b>
    {% endfor %}
    {% endfor %}
    <script>
        document.querySelector("#tournament_dashboard_link").classList.toggle("active");
    </script>
{% endblock %}