{% extends "base.html" %}

{% block content %}
<h1>Tournament Profile Page</h1>
<div>
    <p>Tournament Name: {{tournament.tournament_name }}</a></b></p>
</div>
<div>
    <p>Tournament Date: {{tournament.tournament_date }}</b></p>
</div>
<div>
    <p>Tournament Location: {{tournament.tournament_location }}</b></p>
</div>
<div>
    <p>Tournament League: {{league.league_name }}</b></p>
</div>

<form method="POST">
    <input type="submit" name="edit_button" value="Edit Tournament">
</form>

{% endblock %}