
{% extends "base.html" %}

{% block content %}
    <h1>Hello, Welcome to SSBM {{ current_user.username }}!</h1>
    <h3>Search by date:</h3>
    <form action="" method="get" novalidate>
        <p>
            {{ form.startDate.label }} {{ form.startDate(size=32) }}<br>
            {% for error in form.startDate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.endDate.label }} {{ form.endDate(size=32) }}<br>
            {% for error in form.endDate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for tournament in tournaments%}
    <div><p>Tournament Name: <a href="{{ url_for('tournament_page', tournament=tournament.tournament_name) }}">{{tournament.tournament_name }}</a></b></p></div>
    <div><p>Tournament Date: {{tournament.tournament_date }}</b></p></div>
    <div><p>Tournament Location: {{tournament.tournament_location }}</b></p></div>
    {% for league in leagues%}
        {% if league.id == tournament.tournament_league %}
            <div><p>Tournament League: {{league.league_name}}</b></p></div>

        {% endif %}
    </b>
    {% endfor %}
    {% endfor %}
    <script>
        document.querySelector("#tournament_dashboard_link").classList.toggle("active");
    </script>
{% endblock %}